body {
    margin: 0;
    padding: 0;
}

.video-container {
    width: 50vw;
    height: auto;
    align-items: center;
    margin: auto;
}

.video {
    margin-top: 60px;
    border: 2px solid black;
    width: 100%;
}

.p {
    color: azure;
}