# pip install -r requirements.txt

# base ----------------------------------------
opencv-python>=4.1.2
requests>=2.25.1
matplotlib>=3.2.2
numpy>=1.18.5

# deployment ----------------------------------
flask >=1.1.1